@model GaleryApp.Core.DomainClasses.User
@{
    Layout = "~/Views/Shared/_PartialHeader.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/Content/Login.css" rel="stylesheet" />

    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>_LoginLayout</title>*@


</head>
<body>
    <main role="main">

        @using (Html.BeginForm("HomePage", "Account", FormMethod.Post, new { @class = "box" }))
        {
            //<form class="box" action="/Account/HomePage" method="post">
            <h1> Login </h1>

            <div>

                @Html.TextBoxFor(t => t.Name)
                @Html.ValidationMessageFor(t => t.Name)

            </div>
            @*<input type="text" name="name" placeholder="Username">*@

            <div>

                @Html.PasswordFor(t => t.Password)
                @Html.ValidationMessageFor(t => t.Password)

            </div>

            @*<input type="password" name="password" placeholder="Password">*@
            <input type="submit" value="Login">
            @*</form>*@
        }

    </main>
</body>
</html>


